<section class="logInSection">
  <img src="assets/logoLVF.webp" alt="logoLVF">
  <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="!verificado">
    <h1>Por favor verifica tu DNI</h1>
    <input id="DNI" formControlName="Dni" type="number" placeholder="Ingrese su DNI" />
    <small class="primerAviso">Agrega tu DNI sin puntos</small>
    <div *ngIf="form.get('Dni')?.invalid && form.get('Dni')?.touched">
      <small *ngIf="form.get('Dni')?.errors?.['required']">El DNI es obligatorio.</small>
      <small *ngIf="form.get('Dni')?.errors?.['pattern']">El DNI debe tener al menos 7 dígitos.</small>
    </div>
    <button type="submit" [disabled]="form.invalid">Enviar</button>
    <h2 *ngIf="intentos > 0">Por favor, inténtalo nuevamente.</h2>
  </form>
  <div *ngIf="verificado" class="verificadoMessage">
    <h2>¡Verificación exitosa!</h2>
    <div class="infoBox">
      <p><strong>Nombre: </strong> {{informacion?.Nombre}}</p>
      <p><strong>DNI: </strong> {{informacion?.Dni}}</p>
      <p><strong>Medio/s: </strong></p>
      <ul>
        <li *ngFor="let medio of informacion?.HabilitadoPor">{{ medio }}</li>
      </ul> 
    </div>
    <p>Tu DNI ha sido verificado correctamente. Bienvenido a la prensa LVF.</p>
  </div>
</section>